* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

:root {
    --maximum-yellow-red_a10: hsla(41, 99%, 64%, 0.1);
    --maximum-yellow-red_a40: hsla(41, 99%, 64%, 0.4);
    --maximum-yellow-red: hsl(41, 99%, 64%);
    --orange-red_a20: hsla(19, 100%, 55%, 0.2);
    --eerie-black: hsl(210, 11%, 15%);
    --orange-red: hsl(19, 100%, 55%);
    --davys-gray: hsl(0, 0%, 33%);
    --white_a80: hsla(0, 0%, 100%, 0.8);
    --white_a75: hsla(0, 0%, 100%, 0.75);
    --white_a10: hsla(0, 0%, 100%, 0.1);
    --jet_a10: hsla(0, 0%, 22%, 0.1);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --jet: hsl(0, 0%, 22%);
}

html {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
}



.header { 
    background-color: transparent; 
}

.header.active {
    background-color: var(--white); 
}