*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

a {
    text-decoration: none;
}

:root {
    --maximum-yellow-red_a10: hsla(41, 99%, 64%, 0.1);
    --maximum-yellow-red_a40: hsla(41, 99%, 64%, 0.4);
    --maximum-yellow-red: hsl(41, 99%, 64%);
    --orange-red_a20: hsla(19, 100%, 55%, 0.2);
    --black-shade: hsl(210, 11%, 15%);
    --primary1: hsl(19, 100%, 55%);
    --davys-gray: hsl(0, 0%, 33%);
    --white_a80: hsla(0, 0%, 100%, 0.8);
    --white_a75: hsla(0, 0%, 100%, 0.75);
    --white_a10: hsla(0, 0%, 100%, 0.1);
    --jet_a10: hsla(0, 0%, 22%, 0.1);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --jet: hsl(0, 0%, 22%);
}

html {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Jost', Arial, Helvetica, sans-serif;
}



.header { 
    background-color: transparent; 
    
}

.header.active {
    background-color: var(--white); 
}

.header .container {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo-container a h1 {
    color: var(--black-shade);
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.25s ease;
    font-weight: 500;
    font-size: 2.3rem;
}

.header .navbar {
    display: flex;
}

.header .navbar a {
    padding: 0 .8em;
    color: var(--black-shade);
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: var(--transition-1);
    font-weight: 500;
}